.chip {
  display: block;
  box-sizing: border-box;
  float: left;
  margin: 2px;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: solid 1px #dce0ee;
  background-color: #ffffff;

  &.chip-r {
    background: #dc4853;
  }

  &.chip-y {
    background: #dcb023;
  }

  &.chip--win {
    border: solid 4px #4388bc;
  }
}