.control {
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;

  & > .control-button {
    display: block;
    box-sizing: border-box;
    float: left;
    font-weight: lighter;
    margin: 2px;
    text-align: center;
    padding-top: 25px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: solid 1px #b0c2cf;
    color: #b0c2cf;

    &:hover {
      border-color: #4388bc;
      color: #4388bc;
    }
  }
}